//fonts google
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$mainFont: 'Lato', sans-serif;


//sizings
$textMd: 1.3em;
$textLg:1.8em;
$textSm:0,8em;

//weights
$textBold:600;
$textRegular:400;
$textThin:200;
