.footerTextCenter{
    text-align: center;
    padding: 50px;
    width: 100%;
    
}

.barraRedesSociales{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2rem;

}

.tamañoRedesSociales{
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

